@import "tailwindcss";
@layer base{
 input:active{
  border: none;
 }
 main{
  @apply px-[230px] 
 }
}
@layer components{
 .hero-section{
   background-image: url("../public/assets/default/carsharing-happy-black-woman.jpg");
   height: 50vh;
   background-position: center;
   background-size: cover;
   text-align: center;
   align-items: center;
  
 }
 .search-input::after{
  content: "";
  height: 100%;
  background-color: rgba(189, 188, 188, 0.872);
  width: 1px;
  margin-left: 3px;
 }
 .btn-primary{
  color: white;
  background-color: blue;
  font-weight: bold;

 }
 .mini-card{
  @apply bg-white rounded-2xl p-6 w-[300px] flex justify-between mt-4 cursor-pointer
 }
 .mini-card div{
  @apply flex gap-2
 }
 .miniCard-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px
 }
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right,rgba(21, 21, 30, 0.68) ,rgba(23, 30, 19, 0.646));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(to right,rgba(114, 173, 215, 0.096) ,rgba(159, 218, 124, 0.101));
  }
}
